a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 4px; /* ширина scrollbar */
  height: 1.5px;
}
*::-webkit-scrollbar-track {
  background: rgb(196, 198, 201); /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* цвет плашки */
  border-radius: 12px; /* закругления плашки */
}

body {
  overflow-y: scroll;
}
